body{
  background-color: $black;
  color: $white;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  margin: 1.2vw 1.5vw 0 1.5vw;
}

.main-link{
  &::before {
    content: '';
    position: absolute;
    left: 0; bottom: 14px;
    width: 0%;
    height: 0.1vw;
    background-color: $white;
    transition: width 0.5s;
  }
  &:hover::before {
    width: 100%;
  }
}

.container{
  padding: 0 3.2vw 0 3.3vw;
  @media screen and (max-width:1439px){
    padding: 0 5vw;
  }
  @media screen and (max-width:1023px){
    padding: 0 3vw;
  }
  @media screen and (max-width:767px){
    padding: 0 1vw;
  }
}
.wrapper{
  padding-left: 14.5vw;
}
.shadow{
  position: absolute;
  opacity: 0.4;
  filter: blur(50px);
  border-radius: 50%;
}
.title{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3vw;
  margin: 10% 5% 1% 0;
  @media screen and (max-width:1439px){
    font-size: 4vw;
}
  @media screen and (max-width:1023px){
    font-size: 5.5vw;
  }
  @media screen and (max-width:767px){
    font-size: 7vw;
  }
}
.holder{
  padding-left: 18vw;
  padding-right: 3.1vw;
  @media screen and (max-width:1439px) {
    padding-left: 10vw;
    padding-right: 2.5vw;
  }
  @media screen and (max-width:1023px){
    padding-left: 5vw;
    padding-right: 1.5vw;
  }
  @media screen and (max-width:767px){
    padding-left: 3vw;
    padding-right: 0.5vw;
  }
}
.img{
  background-size: cover;
  background-position: center;
}
.text-holder{
  display: flex;
  justify-content: space-between;
  margin: 8% 0 0 0;
  @media screen and (max-width:1023px){
    display: grid;
    grid-template-columns: 1fr;
  }
}
.side-text{
    width: 44%;
    font-size: 1.3vw;
    line-height: 2vw;
    @media screen and (max-width:1439px){
      font-size: 1.4vw;
    }
    @media screen and (max-width:1023px){
      font-size: 2vw;
      width: 100%;
    }
    @media screen and (max-width:767px){
      font-size: 3vw; 
    }
}
.side-title{
  margin:  0;
  width: 40%;
  letter-spacing: 0.25ch;
  @media screen and (max-width:1439px) {
    width: 45%;
  }
  @media screen and (max-width:1023px){
    margin-bottom: 4vw;
    width: 100%;
  }

}
.layout{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: start;
}
#scroll {   
  display: flex;
  flex-direction: column;    
  width: 50px;   
  height: 50px;   
  text-align: center;       
  position: fixed;   
  bottom: 30px;   
  right: 1vw;    
  z-index: 1000; 
  @media screen and (max-width:1439px) {
    width: 40px;   
    height: 40px; 
  }
  @media screen and (max-width:1023px){
    margin-bottom: 4vw;
    width: 30px;   
    height: 30px; 
  }
  @media screen and (max-width:767px){
    margin-bottom: 4vw;
    width: 10px;   
    height: 10px; 
    bottom: 40px;   
    right: 5vw; 
  }
} 
#scroll:hover {   
  cursor: pointer;   
}  
#scroll::before {
  content: "\f062";
  font-family: FontAwesome;
  top: 0px;
  left: 0px;
  font-weight: lighter;
  font-size: 2em;
  line-height: 50px;
  color: #fff; 
}

.header{
    margin: 0;
    min-height: 97.7vh;
  .header-holder{
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
    text-align: end;
    padding: 5px 0 5px 0;
    margin: 0 0 3.8% 0;
  }
  .container-header{
    padding: 0 6vw;
  }
  &__inscription{
    display: inline-block;
    color: $yellow;
    position: relative;
    font-size: 1.125vw;
    letter-spacing: 0.06ch;
    &_blue{
      color: $blue;
    }
    &::before {
      bottom:  1.1vw;
    }
    @media screen and (max-width:1439px){
      font-size: 1.5vw;
    }
    @media screen and (max-width:1023px){
      font-size: 2vw;
    }
    @media screen and (max-width:767px){
      font-size: 3vw;
    }
  }
  &__shadow_blue{
    top: -77vw;
    right: -17vw;
    width: 55vw;
    height: 80vw;
    background-color: $light-blue;
    z-index: -1;
  }
  &__shadow_yellow{
    width: 50vw;
    height: 50vw;
    background-color: $yellow;
    top:-45vw;
    right: -26vw;
    z-index: -1;
  }
  &__logo{
    text-transform: uppercase;
    letter-spacing: 1.05ch;
    font-size: 2vw;
    position: relative;
    font-weight: bold;
    &::before {
      bottom: 0px;
    }
    @media screen and (max-width:1439px){
      font-size: 2.5vw;
    }
    @media screen and (max-width:1023px){
      font-size: 3vw;
    }
    @media screen and (max-width:767px){
      font-size: 4vw;
    }
  }
  .indent{
    margin-right: 0.7%;
  }
  &__signature{
    font-weight: normal;
    font-size: 0.7vw;
    margin: 0.6% 0 0 0 ;
    letter-spacing: 0.15ch;
    @media screen and (max-width:1439px){
      font-size: 1.2vw;
    }
    @media screen and (max-width:1023px){
      font-size: 1.5vw;
    }
    @media screen and (max-width:767px){
      font-size: 2vw;
    }
  }
  .wrapper-title{
    min-height: 65vh;
  }
  .title-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title{
    margin: 3.5vw 5.5vw 0 0;
    font-size: 3.5vw;
    line-height: 4.7vw;
    letter-spacing: 0.12ch;
    @media screen and (max-width:1023px){
      margin: 0 2.5vw 0 0;
    }
    @media screen and (max-width:767px){
      margin: 0 1.5vw 0 0;
    }
  }
  &__subtitle{
    text-transform: uppercase;
    font-size: 1.5vw;
    font-weight: normal;
    font-family: 'Marcellus', serif;
    margin-top: 3vw;
    letter-spacing: 0.04ch;
    @media screen and (max-width:1439px){
      font-size: 1.7vw;
    }
    @media screen and (max-width:1023px){
      font-size: 2vw;
    }
    @media screen and (max-width:767px){
      font-size: 3vw;
    }
  }
}

.info{
  position: relative;
  .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5vw;
    letter-spacing: 0.3ch;
    &__title{
      color: $white;
      text-transform: uppercase;  
      position: relative;
      font-size: 1vw;
      &_last{
        margin-left: 2.5vw;
      }
      &::before {
        content: '';
        bottom: -2px;
      }
      @media screen and (max-width:1439px){
        font-size: 1.4vw;
      }
      @media screen and (max-width:1023px){
        font-size: 2vw;
      }
      @media screen and (max-width:767px){
        font-size: 2.5vw;
      }
    }
  }
  &__shadow_blue{
    top: -20%;
    right: -80%;
    width: 100vw;
    height: 60vw;
    opacity: 0.2;
    background-color: $light-blue;
    z-index: -1;
  }
  &__shadow_pink{
    top: -10%;
    left: -95%;
    width: 100vw;
    height: 55vw;
    opacity: 0.8;
    background-color: $dark-pink;
    z-index: -1;
  }

  .card-list{
    @include list;
    margin: 1vw 0 0 0;
    &__item{
      border-top: 1px solid $main-grey;
      border-bottom: 1px solid $main-grey;
      min-height: 365px;
      &:first-child{
        border-top: 1px solid $white;
        .card-list__number{
           margin-bottom: 4.7vw;
        }
      }
      &:last-child{
        border-bottom: 1px solid $white;
        .card-list__number{
          margin-bottom: 8vw;
       }
      }
    }
    &__holder{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__title{
      font-size: 3vw;
      text-transform: uppercase;
      letter-spacing: 0.15ch;
      @media screen and (max-width:1439px){
        font-size: 3.2vw;
      }
      @media screen and (max-width:1023px){
        font-size: 3.75vw;
      }
      @media screen and (max-width:767px){
        font-size: 4.3vw;
      }
    }
    &__text{
      font-size: 1.3vw;
      @media screen and (max-width:1439px){
        font-size: 1.4vw;
      }
      @media screen and (max-width:1023px){
        font-size: 1.8vw;
      }
      @media screen and (max-width:767px){
        font-size: 2.3vw;
      }
    }
    &__wrapper{
      display: grid;
      grid-template-columns: 1.275fr 1fr;
      padding-left: 13.2vw;
      align-items: center;
      @media screen and (max-width:1439px){
        padding-left: 8vw;
      }
      @media screen and (max-width:1023px){
        padding-left: 5vw;
      }
      @media screen and (max-width:767px){
        padding-left: 2vw;
      }
    }
    &__number{
      opacity: 0.5;
      font-style: italic;
      font-weight: bold;
      font-size: 1.3vw;
      margin-bottom: 9vw;
      @media screen and (max-width:1439px){
        font-size: 1.1vw;
      }
      @media screen and (max-width:767px){
        font-size: 1.5vw;
      }
    }

  }
}

.tabs{
  border-bottom: 1px solid $white;
  padding: 7.3vw 6.5vw 8vw 6.5vw;
  @media screen and (max-width:1439px){
    padding: 5vw 4.5vw 4vw ;
  }
  @media screen and (max-width:1023px){
    padding: 5vw 2vw 4vw ;
  }
  @media screen and (max-width:767px){
    padding: 5vw 1vw 4vw ;
  }
  &__tabset{
    @include list;
    display: flex;
    justify-content: space-between;
  }
  &__item{
    @media screen and (max-width:767px){
      min-width: 10% ;
    }

  }
  &__btn{
    font-family: 'Marcellus', serif;
    text-transform: uppercase;
    color: $main-grey;
    font-size: 2vw;
    position: relative;
    @media screen and (max-width:1439px){
      font-size: 2vw;
    }
    @media screen and (max-width:1023px){
      font-size: 2.4vw;
    }
    @media screen and (max-width:767px){
      font-size: 3vw;
    }
    &::before{
      content: '+';
      position: absolute;
      left: -2vw; 
      top: 0px;
    }
    &::after{
      content: '';
      position: absolute;
      left: 0; bottom: 0px;
      width: 0%;
      height: 1.5px;
      background-color: $white;
      transition: width 0.5s;
    }
    &:hover::after {
      width: 100%;
    }

  }
  &__btn.active{
    color: $white;
    &::before{
      content: '-';
      position: absolute;
      left: -2vw; 
      top:-0.1vw;
      width: 0%;
    }
  }
  &__content{
    display: none;
  }
  &__content.active{
    margin-top: 2vw;
    display: block;
    width: 15vw;
    font-size: 1.3vw;
    @media screen and (max-width:1439px){
      font-size: 1.4vw;
    }
    @media screen and (max-width:1023px){
      font-size: 1.8vw;
       width: 20vw;
    }
    @media screen and (max-width:767px){
      font-size: 2.3vw;
    }
  }
  &__content.active:nth-child(2){
    transform: translate(18.4vw,0);
    @media screen and (max-width:1439px){
      transform: translate(20.4vw,0);
    }
    @media screen and (max-width:767px){
      transform: translate(18.4vw,0);
    }
  }
  &__content.active:nth-child(3){
    transform: translate(39.5vw,0);
    @media screen and (max-width:1439px){
      transform: translate(43vw,0);
    }
    @media screen and (max-width:767px){
      transform: translate(38.4vw,0);
    }
  }
  &__content.active:nth-child(4){
    transform: translate(66.5vw,0);
    @media screen and (max-width:1439px){
      transform: translate(71.7vw,0);
  }
  }
  &__holder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.about{
  .container{
    padding: 0 7.5vw 2.7vw 8vw;
  }
  overflow: visible;
  padding-bottom: 4%;
  border-bottom: 1px solid $white;

  &__link{
    position: relative;
    font-size: 1vw;
    &::before {
      content: '';
      position: absolute;
      left: 0; bottom: -2px;
      width: 0%;
      height: 1.5px;
      background-color: $white;
      transition: width 0.5s;
    }
    &:hover::before {
      width: 100%;
    }
  }
  &__cards{
    @include list;
    display: flex;
    justify-content: space-between;
    margin-top: 6%;
    @media screen and (max-width:767px){
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  &__item{
    position: relative;
  }
  .img{
    height: 29vw;
    width: 20vw;
    justify-self: center;
    z-index: -2;
    @media screen and (max-width:1439px){
      height: 27vw;
      width: 20vw;
    }
    @media screen and (max-width:1023px){
      height: 32vw;
      width: 25vw;
    }
    @media screen and (max-width:767px){
      height: 58vw;
      width: 47vw;
      margin-top: 3vw;
    }
  }
  .gradient {
    margin: 0;
    display: grid;
  }
  .gradient::before {
    content: '';
    z-index: 10;
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    background: linear-gradient(0deg, rgba(42, 30, 175, 0.9) 15%, rgba(0, 0, 0, 0) 50%);
    @media screen and (max-width:767px){
      width: 53%;
      right: 24.5%;
    }
  }
  &__name{
    position: absolute;
    z-index: 20;
    bottom: 5.75vw;
    left: -2.2vw;
    letter-spacing: 0.1ch;
    font-size: 2vw;
    @media screen and (max-width:1439px){
      font-size: 1.3vw;
      bottom: 2.8vw;
    }
    @media screen and (max-width:1023px){
      font-size: 2.5vw;
      bottom: 4vw;
    }
    @media screen and (max-width:767px){
      font-size:4.5vw;
      bottom: 7vw;
      left: 20%;
    }
  }
  &__job{
    position: absolute;
    z-index: 20;
    bottom: 3.1vw;
    left: -2.2vw;
    letter-spacing: 1px;
    font-size: 1.1vw;
    @media screen and (max-width:1439px){
      font-size: 1.1vw;
    }
    @media screen and (max-width:1023px){
      font-size: 1.7vw;
    }
    @media screen and (max-width:767px){
      left: 20%;
      font-size: 3vw;
    }
  }
}
.projects{
  padding-bottom: 4.3%;
  border-bottom: 1px solid $white;
  .text-holder{
    margin-bottom:7.5vw;
  }
  .side-title{
    margin-top: 0.9vw;
    letter-spacing: 0.15ch;
  }
  .slider{
    position: relative;
    .slick-arrow{
      position: absolute;
      top: 50%; 
      margin: -5.7vw 2vw 0 2vw; 
      z-index: 2; 
      cursor: pointer;
      @media screen and (max-width:767px){
        margin: 0;
      }
    }
    &__text-holder{
      margin: 2.7vw 0 0 2.4vw;
      width: 60%;
    }
    .arrows-left{
      left: 0; 
    }
    .arrows-right{
      right: 0; 
    }

    .slick-slide{ 
      margin: 0 2.9vw 0 5vw;
    }
    &__photo{
      height: 37vw;
    }
    .slide2{
      height: 29vw;
    }
    .slide3{
      height: 25.2vw;
      margin: 0.8vw 1.9vw 2.7vw -1.5vw;
    }
    .slide4{
      height: 28vw;
    }
    &__photo, .slide2, .slide3, .slide4{
      @media screen and (max-width:1023px){
        height: 60vw;
    }
    }

    &__main-link{
      font-size: 1.5vw;
      position: relative;
      font-weight: bold;
      letter-spacing: 0.13ch;
      margin: 0 0 3vw 0;
      &::before {
        content: '';
        bottom: -0.2vw;
      }
      @media screen and (max-width:1439px){
        font-size: 1.6vw;
      @media screen and (max-width:1023px){
        font-size: 2.2vw;
      }
    }
    }
    &__text{
      font-size: 1vw;
      color: $light-grey;
      margin: 1.4vw 0 0 0;
      line-height: 1.55vw;
      @media screen and (max-width:1439px){
        font-size: 1.4vw;
      @media screen and (max-width:1023px){
        font-size: 2vw;
      }
    }
    }
  }
}
  
.form{
  padding: 1.6vw 0 7.6% 0;
  border-bottom: 1px solid $white;
  .text-holder{
    margin-bottom:7.4vw;
  }
  .side-title{
    line-height: 4.6vw;
  }
  .side-text{
    margin-top: -0.6vw;
  }
  &__input-holder{
    width: 78%;
    &_left{
      width: 100%;
    }
  }

  .layout{
    grid-template-columns: 1.268fr 1fr;
  }
  .form-input{
    color: white;
    background-color: transparent;
    height: calc(2.25rem + 2px);
    width: 100%;
    margin-bottom: 4.5vw;
    padding: 2vw 0;
    border-top: none;
    border-left: none;
    border-right: none;
    &::placeholder {
      color: $white;
      opacity: 0.5;
      font-size: 1.2vw;
      @media screen and (max-width:1439px){
        font-size: 1.25vw;
      }
      @media screen and (max-width:1023px){
        font-size: 1.4vw;
      }
    }
  }

  &__range-title{
    display: block;
    font-size: 1.4vw;
    text-transform: uppercase;
    margin:1.1vw 0 3vw 0;
    letter-spacing: 0.17ch;
    @media screen and (max-width:1439px){
      font-size: 1.4vw;
    }
    @media screen and (max-width:1023px){
      font-size: 1.8vw;
    }
  }
  .range-holder{
    display: flex;
    margin-bottom: 8vw;
  }
  &__range{
    margin-right: 2.5vw;
    
  }
  .ui-slider-handle {
    outline: 0;
    background: $white;
    border-radius: 50%;
    top: -.5em;
    @media screen and (max-width:767px){
      height: 0.5em;
      width: 0.5em;
      top: -0.15em;
    }
  }
  
  .ui-slider-horizontal {
    top: 1em;
    height: .1em;
    width: 38%;
    border: none;
    background: $white;
    
  }
  &__range-value{
    font-size: 1.4vw;
    margin: 0.25vw 0;
    @media screen and (max-width:1439px){
      font-size: 1.5vw;
      margin: 0.8vw 0;
    }
    @media screen and (max-width:1023px){
      font-size: 1.8vw;
      margin: 0.8vw 0;
    }
    @media screen and (max-width:767px){
      margin: 2.2vw 0;
    }
  }
  &__btn{
    background-color: rgba(255, 2555, 255, 0.09);
    border: none;
    color: $white;
    letter-spacing: 0.5ch;
    padding: 2.7vw 8.3vw;
    font-size: 1vw;
    &:hover{
      cursor: pointer;
      background-color: rgba(255, 2555, 255, 0.3);
    }
    @media screen and (max-width:1439px){
      font-size: 1vw;
    }
    @media screen and (max-width:1023px){
        font-size: 1.4vw;
    }
  }
}
.contact{
  padding-bottom: 8%;
  .text-holder{
    padding-bottom: 8vw;
    padding-top: 1.3vw;
  }
  .layout{
    grid-template-columns: 1.268fr 1fr;
  }
  &__holder{
    display: grid;
    grid-template-columns: 1fr;
    &_left{
      position: relative;
    }
  }
  .side-text{
    margin-top: -0.9vw;
  }
  &__mail{
    position: relative;
    text-transform: uppercase;
    font-size: 1.6vw;
    margin-bottom: 1vw;
    letter-spacing: 0.07ch;
    @media screen and (max-width:1439px){
      font-size: 1.3vw;
    }
    @media screen and (max-width:1023px){
      font-size: 2vw;
    }
    &::before {
      bottom: 0.2vw;
      width: 42%;
    }
    &:hover::before {
      width: 0%;
    }
  }
  &__tel{
    position: relative;
    font-size: 1.5vw;
    letter-spacing: 0.18ch;
    @media screen and (max-width:1439px){
      font-size: 1.3vw;
    }
    @media screen and (max-width:1023px){
      font-size: 2vw;
    }
    &::before {
      bottom: 0.2vw;
      width: 0%;
    }
    &:hover::before {
      width: 32%;
    }
  }
  .position{
    position: absolute;
    color: $white;
    font-size: 1.5vw;
    top: -3.7vw;
    left: 0;
      @media screen and (max-width:1439px){
        font-size: 1.8vw;
        top: -3vw;
    }
      @media screen and (max-width:1023px){
        font-size: 2.2vw;
    }
  }
  &__adress{
    font-style: normal;
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 0.2ch;
    line-height: 3vw;
    margin: -0.9vw 0 4vw 0;
  }

  &__list-title{
    text-transform: uppercase;
    font-size: 1.4vw;
    letter-spacing: 0.2ch;
    font-weight: bold;
    margin-bottom: 2.1vw;
    @media screen and (max-width:1439px){
      font-size: 1.5vw;
  }
    @media screen and (max-width:1023px){
      font-size: 1.8vw;
  }
  }
  &__list{
    @include list;
    display: flex;
  }
  &__item{
    margin-right: 1.7vw;
    color: $white;
  }
  .icon{
    font-size: 1.6vw;
    transition: all 0.2s 0s ease-in;
    &:hover{
      transform: scale(1.5);
    }
    @media screen and (max-width:1439px){
      font-size: 1.5vw;
  }
    @media screen and (max-width:1023px){
      font-size: 1.8vw;
  }
  }
}
.footer{
  padding-bottom: 3%;
  &__logo{
    display: inline-block;
    position: relative;
    margin: 0 0.6vw 1.4vw 0;
    font-size: 1.2vw;
    &::before {
      bottom: 0.1vw;
    }
    @media screen and (max-width:1439px){
      font-size: 1.6vw;
    }
    @media screen and (max-width:767px){
      margin: 1vw 0.5vw 1vw 0;
    }
  }
  &__text{
    font-size: 1.2vw;
    text-transform: uppercase;
    @media screen and (max-width:1439px){
      font-size: 1.6vw;
    }
  }
  &__link{
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 1.9vw;
    font-size: 1.1vw;
    position: relative;

    &::before {
      bottom: 0vw;
      width: 100%;
    }
    &:hover::before {
      width: 0%;
    }
    @media screen and (max-width:1439px){
      font-size: 1.6vw;
    }
  }

}

