body{
  background-color: $black;
  color: $white;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  margin: 1vw 15px;
}
.container{
  padding: 0 7vw;
}
.wrapper{
  padding-left: 15vw;
}
.shadow{
  position: absolute;
  opacity: 0.4;
  filter: blur(50px);
  border-radius: 50%;
}
.header{
    margin: 0;
    min-height: 100vh;
  .header-holder{
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
    text-align: end;
    padding: 5px 30px 5px 0;
    position: relative;
    margin: 0 0 4% 0;
  }

  &__inscription{
    display: inline-block;
    color: $yellow;
    position: relative;
    font-size: 1vw;
    &_blue{
      color: $blue;
    }
    &::before {
      content: '';
      position: absolute;
      left: 0; bottom: 14px;
      width: 0%;
      height: 1.5px;
      background-color: $white;
      transition: width 0.5s;
    }
    &:hover::before {
      width: 100%;
    }
  }

  &__shadow_blue{
    top: -77vw;
    right: -17vw;
    width: 55vw;
    height: 80vw;
    background-color: $light-blue;
    z-index: -1;
  }
  &__shadow_yellow{
    width: 50vw;
    height: 50vw;
    background-color: $yellow;
    top:-45vw;
    right: -26vw;
    z-index: -1;
  }

  &__logo{
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 2vw;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0; bottom: 0px;
      width: 0%;
      height: 1.5px;
      background-color: $white;
      transition: width 0.5s;
    }
    &:hover::before {
      width: 100%;
    }

  }
  &__signature{
    font-weight: normal;
    font-size: 0.8vw;
    margin: 1% 0 0 0 ;
  }


  &__title{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 3vw;
    margin: 5% 5% 1% 0;
  }
  &__subtitle{
    text-transform: uppercase;
    font-size: 1.2vw;
    font-weight: normal;
    margin: 0 0 18% 0;
    font-family: 'Marcellus', serif;
  }
}


.info{
  position: relative;
  &__wrapper{
    padding-left: 22vw;
    padding-right: 4vw;
  }

  .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title{
      color: $white;
      text-transform: uppercase;  
      position: relative;
      &_last{
        margin-left: 2vw;
      }
      &::before {
        content: '';
        position: absolute;
        left: 0; bottom: -2px;
        width: 0%;
        height: 1.5px;
        background-color: $white;
        transition: width 0.5s;
      }
      &:hover::before {
        width: 100%;
      }
    }
  }
  &__shadow_blue{
    top: -20%;
    right: -70%;
    width: 100vw;
    height: 60vw;
    opacity: 0.2;
    background-color: $light-blue;
    z-index: -1;
  }
  &__shadow_pink{
    top: -10%;
    left: -95%;
    width: 100vw;
    height: 55vw;
    opacity: 0.8;
    background-color: $dark-pink;
    z-index: -1;
  }

  .card-list{
    @include list;
    margin-top: 1vw;
    &__title{
      font-size: 2.8vw;
      text-transform: uppercase;
    }
    &__text{
      font-size: 1.1vw;
    }
    &__wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-left: 14vw;
      align-items: center;
    }
    &__number{
      opacity: 0.5;
      font-style: italic;
      font-weight: bold;
      margin-bottom: 3vw;
    }
    &__item{
      border-top: 1px solid $main-grey;
      border-bottom: 1px solid $main-grey;
      &:first-child{
        border-top: 1px solid $white;
      }
      &:last-child{
        border-bottom: 1px solid $white;
      }
    }
    &__holder{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

  }

}


.tabs{
  border-bottom: 1px solid $white;
  padding: 5vw 6.5vw ;
  &__tabset{
    @include list;
    display: flex;
    justify-content: space-between;
  }
  &__item{
    margin-bottom: 1vw;
  }
  &__btn{
    font-family: 'Marcellus', serif;
    text-transform: uppercase;
    color: $main-grey;
    font-size: 1.5vw;
    position: relative;
    &::before{
      content: '+';
      position: absolute;
      left: -30px; 
      top: 0px;
    }
  }
  &__btn.active{
    color: $white;
    &::before{
      content: '-';
      position: absolute;
      left: -30px; 
      top:-3px;
      width: 0%;
    }
  }
  &__content{
    display: none;
  }
  &__content.active{
    display: block;
    width: 15vw;
  }
  &__content.active:nth-child(2){
    transform: translate(17.4vw,0);
  }
  &__content.active:nth-child(3){
    transform: translate(36.6vw,0);
  }
  &__content.active:nth-child(4){
    transform: translate(71.7vw,0);
  }
  &__holder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
